
services:
  ml_service:
    image: device_model:2
    ports:
      - "8001:8000"
    volumes:
      - ./models:/models
    networks:
      - net
     
  requests:
    image: requests:1
    deploy: 
      replicas: 1
      restart_policy:
        condition: any
        delay: 5s
    networks:
      - net


  prometheus:
     image: prom/prometheus
     ports: 
       - "9090:9090"
     command:
       - '--config.file=/etc/prometheus/prometheus.yml'
     volumes:
       - "./prometheus/:/etc/prometheus/"
     hostname: prometheus
     networks:
       - net

  
  grafana:
     image: grafana/grafana
     ports:
       - "3000:3000"
     environment:
         - GF_SECURITY_ADMIN_USER=admin
         - GF_SECURITY_ADMIN_PASSWORD=admin
     volumes:
       - "./grafana/data:/var/lib/grafana"
     networks:
       - net
      
networks:
  net:
    driver: bridge